:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.bookBtn {
  padding: 0.5rem 1.5rem;
    background-color: rgb(22, 119, 216);
    border: 1px solid;
    border-radius: 15px;
    color: white;
    cursor: pointer;  
    text-decoration: none;
    margin: 1rem;
}

.bookBtn:hover {
  opacity: 92%;
}

